/* Error: Plain CSS functions don't support keyword arguments.
 *     ,
 * 274 |     transform: translateY($distance: 20px);
 *     |                ^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets\scss\abstracts\_mixins.scss 274:16  @import
 *   assets\scss\main.scss 10:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Plain CSS functions don't support keyword arguments.\a     \2577 \a 274 \2502      transform: translateY($distance: 20px);\d\a     \2502                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets\\scss\\abstracts\\_mixins.scss 274:16  @import\a   assets\\scss\\main.scss 10:9                 root stylesheet";
}
